@model User

<h1>Login</h1>
<form asp-controller="Users" asp-action="Login">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">User Name</label>
        <input asp-for="Name" class="form-control" aria-describedby="UserName">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" aria-describedby="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <span class="ms-4 text-danger"> @ViewBag.Error</span>
</form>